@model Mosaicos.LojaVirtual.Dominio.Repositorio.Mosaico

<div class="well">
    <h3><strong>@Model.Item</strong></h3>
    <h3><strong>@Model.Nome</strong></h3>
    <h3><span class="lead">@Model.Descricao</span></h3>
    <h3><span class="lead">@Model.Peso</span></h3>
    <h3><span class="lead">@Model.Dimensao</span></h3>
    <h3><span class="lead">@Model.Preco</span></h3>
</div>
