
@{
    ViewBag.Title = "Teste";
}

<h2>Mosaicos</h2>
<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/mesa flores.jpg")' />
</p>
<p>
    Mesinha decorativa de mosaico de pastilhas e azulejos sobre carretel de madeira. Patinada, envernizadae com pés de rodízios. 
</p>

<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/mesa1 005.JPG")' />
</p>
<p>
    Mesinha decorativa de mosaico de azulejos sobre carretel de madeira. Patinada, envernizada e com pés de rodízios.

</p>
<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/girassóis.JPG")' />
</p>
<p>
    Quadro "Girassóis" em mosaico picassiete ( feito com louças recicladas e azulejos antigos) em moldura envelhecida.

</p>
<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/janela.JPG")' />
</p>
<p>
    Quadro "Janela com flores" em mosaico picassiete ( feito com louças recicladas, pastilhas de vidro e azulejos antigos)sobre placa de mdf

</p>
<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/jarra.JPG")' />
</p>
<p>
    Quadro"Jarro de flores" em mosaico picassiete ( feito com louças recicladas e pastilhas de vidro) em moldura de madeira de demolição.

</p>
<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/margaridas.JPG")' />
</p>
<p>
    Quadro "margaridas" em mosaico picassiete (feito com louças recicladas e pastilhas de vidro) em moldura de madeira de demolição

</p>
<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/orquideas.JPG")' />
</p>
<p>
    Quadro "orquídea" em mosaico picassiete ( feito com louças recicladas e pastilhas de vidro) em moldura de madeira envelhecida.

</p>
<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/amoresperfeitos.jpg")' />
</p>
<p>
    Quadro "xícara de amores-perfeitos" em mosaico picassiete ( feito com louças recicladas e pastilhas de vidro) em moldura de madeira envelhecida.

</p>
<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/hortencias.jpg")' />
</p>
<p>
    Quadro "hortênsias" em mosaico picassiete ( feito com louças recicladas, azulejos antigos e pastilhas de vidro) em moldura de madeira de demolição.

</p>
<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/tulipas azuis 001.JPG")' />
</p>
<p>
    Quadro "tulipas azuis" em mosaico picassiete ( feito com louças recicladas, pastilhas e azulejos) em moldura de madeira de demolição.

</p>
